@font-face {
  font-family: "iconfont"; /* Project id 5035109 */
  src: url('iconfont.woff2?t=1759651021721') format('woff2'),
       url('iconfont.woff?t=1759651021721') format('woff'),
       url('iconfont.ttf?t=1759651021721') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-business-icon-feeds-fill:before {
  content: "\e823";
}

.icon-business-icon-feeds-logo:before {
  content: "\e824";
}

.icon-business-icon-festivals:before {
  content: "\e825";
}

